<mat-card class="example-card">
  <mat-card-header>
    <!-- <div mat-card-avatar class="example-header-image"></div> -->
    <mat-card-title>{{productProps.title}}</mat-card-title>
    <mat-card-subtitle>{{productProps.category}}</mat-card-subtitle>
  </mat-card-header>
  <img mat-card-image src="{{productProps.image}}" alt="productProps.title">
  <mat-card-content>
    <p>
      {{productProps.description}}
    </p>
  </mat-card-content>
  <mat-card-actions>
    <button mat-button>{{productProps.price}}</button>
    <button mat-button>SHARE</button>
  </mat-card-actions>
</mat-card>